body {
  background-color:#FF5A5A;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 45em;
  display: grid;
  gap: 1em;
  margin: 3em;
  text-align:center;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}

button {
  background-color: #9c24b4;
  color: #fff;
  font: inherit; 
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 1.5em;
  text-align:center;
}

button:active {
  background-color: black;
}

input {
  border: 1px solid #999;
  border-radius: 3px;
  font: inherit;
  padding: 0.5em;
  outline: none;
}

input:focus {
  outline: auto #17f;
}

.item {
  padding: 1em;
  list-style-type: none;
  border-radius: 6px;
  margin-bottom: 1em;
  background: rgb(217, 173, 226);
  box-shadow: 0px 2px 6px 2px rgba(207, 16, 16, 0.133);
  text-align:center;
}

.item .title {
  font-size: 100%;
}

.item .description {
  margin: 1em 0;
}

.item .thumbnail {
  float: right;
  box-shadow: 0px 1px 1px 1px rgba(6, 236, 17, 0.884);
  border-radius: 12px;
  margin-left: 1em;
  margin-bottom: 1em;
}

.item .meta {
  font-size: 80%;
  font-weight: bold;
  color: #555;
}

.item .provider-thumbnail {
  margin-right: 0.5em;
}

.item .meta > *:not(:last-child) {
  margin-right: 2em;
}
/* .App {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.App-title {
  text-align: center;
}

.text-input {
  width: 100%;
  border: 1px solid #f7f7f7;
  padding: 10px;
}

.text-input:hover {
  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.news-items {
  list-style: none;
  padding-left: 5;
}

.news-items li {
  margin-bottom: 10px;
} */
/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
